<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Index</title>
    </head>
    <body>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {{ message }}

                    <hr>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form method="post" action="pay">
            <p>Amount:</p>
            <input type="number" name="amount" step="0.01" min="0.01" required>
            
            <p>Currency:</p>
            <select name="currency">
                <option value="EUR" selected>EUR</option>
                <option value="USD">USD</option>
                <option value="RUB">RUB</option>
            </select>
            
            <p>Description:</p>
            <textarea name="description"></textarea>

            <p>
                <input type="submit" value="Pay">
            </p>
        </form>
    </body>
</html>
