<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Processing...</title>
    </head>
    <body>
        <form id="form" method="post" action="{{ action }}" acceptcharset="utf-8">
        {%- for key, value in form.items() %}
            <input type="hidden" name="{{ key }}" value="{{ value }}">
        {%- endfor %}
        </form>
        <script>document.getElementById("form").submit();</script>
    </body>
</html>
